<h1>Listing triangles</h1>

<table>
  <thead>
    <tr>
      <th>Adjacent leg</th>
      <th>Opposite leg</th>
      <th>Hypotenuse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @triangles.each do |triangle| %>
      <tr>
        <td><%= triangle.adjacent_leg %></td>
        <td><%= triangle.opposite_leg %></td>
        <td><%= triangle.hypotenuse %></td>
        <td><%= link_to 'Show', triangle %></td>
        <td><%= link_to 'Edit', edit_triangle_path(triangle) %></td>
        <td><%= link_to 'Destroy', triangle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Triangle', new_triangle_path %>
